/*    여기서부터 추가*/

.leadersP {
    font-size: 52.5%;
    text-align: left;
}



.degree-icon2 {
    font-weight: bold;
    text-align: left;
}



.degree-icon {
    font-size: 72.5%;
    background-color: grey;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.2rem;
    /*margin-right: 1rem;*/
    display: inline-block;
    width: 70px; /* or any other fixed width */
    text-align: center;
}

h5 {
    font-weight: bold;
}

/* Education 부분에 대한 스타일 */
.item h6 {
    font-weight: bold; /* 볼드체 적용 */
    margin-bottom: 0.5rem; /* h6와 h5 사이의 간격 조절 */
    font-size: 52.5%;
}

.heading-with-line {
    font-size: 180.5%;
    text-align: center;
    position: relative;
    line-height: 1.5;
}

.heading-with-line span {
    background: #FFF; /* 배경색은 당신의 페이지 배경색과 일치해야 합니다 */
    padding: 0 10px;
    position: relative;
    z-index: 1; /* 선을 텍스트 아래로 보내기 위해 */
    font-weight: bold; /* 볼드체 적용 */
}

.heading-with-line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #000; /* 선의 색상과 두께 설정 */
    z-index: 0; /* 텍스트 아래로 선을 보내기 위해 */
}

.timeline-item{
    margin-left: 20px;
    margin-right: 20px;
}


.videoMerge {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    aspect-ratio: 16/9;
    width:100%;
    display: block;
    margin: 0 auto;
    background-size: cover;
}


.video-compare-container {
    width: 90%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.video-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.video-container {
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#myLegend li {
    cursor: pointer;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
